.accordion-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: -1rem;
}

.accordion-grid, .accordion-grid * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.accordion-grid__columns--one .accordion-grid__tab {
  width: calc(100% / 1);
}

@media (max-width: 768px) {
  .accordion-grid__columns--one .accordion-grid__tab {
    width: calc(100% / 1);
  }
}

@media (max-width: 560px) {
  .accordion-grid__columns--one .accordion-grid__tab {
    width: calc(100% / 0);
  }
}

.accordion-grid__columns--two .accordion-grid__tab {
  width: calc(100% / 2);
}

@media (max-width: 768px) {
  .accordion-grid__columns--two .accordion-grid__tab {
    width: calc(100% / 1);
  }
}

@media (max-width: 560px) {
  .accordion-grid__columns--two .accordion-grid__tab {
    width: calc(100% / 0);
  }
}

.accordion-grid__columns--three .accordion-grid__tab {
  width: calc(100% / 3);
}

@media (max-width: 768px) {
  .accordion-grid__columns--three .accordion-grid__tab {
    width: calc(100% / 2);
  }
}

@media (max-width: 560px) {
  .accordion-grid__columns--three .accordion-grid__tab {
    width: calc(100% / 1);
  }
}

.accordion-grid__columns--four .accordion-grid__tab {
  width: calc(100% / 4);
}

@media (max-width: 768px) {
  .accordion-grid__columns--four .accordion-grid__tab {
    width: calc(100% / 2);
  }
}

@media (max-width: 560px) {
  .accordion-grid__columns--four .accordion-grid__tab {
    width: calc(100% / 1);
  }
}

.accordion-grid__columns--five .accordion-grid__tab {
  width: calc(100% / 5);
}

@media (max-width: 768px) {
  .accordion-grid__columns--five .accordion-grid__tab {
    width: calc(100% / 3);
  }
}

@media (max-width: 560px) {
  .accordion-grid__columns--five .accordion-grid__tab {
    width: calc(100% / 1);
  }
}

.accordion-grid__columns--six .accordion-grid__tab {
  width: calc(100% / 6);
}

@media (max-width: 768px) {
  .accordion-grid__columns--six .accordion-grid__tab {
    width: calc(100% / 3);
  }
}

@media (max-width: 560px) {
  .accordion-grid__columns--six .accordion-grid__tab {
    width: calc(100% / 2);
  }
}

.accordion-grid__tab {
  margin: 0;
  padding: 1rem;
  overflow: hidden;
  -webkit-transition: 400ms all ease;
  transition: 400ms all ease;
  width: 100%;
}

.accordion-grid__tab__preview__inside {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  color: #004064;
  padding: 2rem;
  text-align: center;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  border-radius: 4px;
}

.accordion-grid__tab__preview__inside:after {
  content: '';
  display: none;
  width: 0;
  height: 0;
  border: 1rem solid transparent;
  border-bottom-color: #839750;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.accordion-grid__tab__preview__inside:hover {
  color: #839750;
}

.accordion-grid__tab.active .accordion-grid__tab__preview__inside {
  color: #839750;
}

.accordion-grid__tab.active .accordion-grid__tab__preview__inside:after {
  display: block;
}

.accordion-grid__tab__preview__inside--bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  min-height: 200px;
}

.accordion-grid__tab__preview__inside--bg-image > * {
  position: relative;
}

.accordion-grid__tab__preview__inside--bg-image:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.accordion-grid__tab__preview__inside--bg-image:hover,
.accordion-grid__tab.active .accordion-grid__tab__preview__inside--bg-image {
  color: #fff;
}

.accordion-grid__tab__preview__inside--bg-image:hover:before,
.accordion-grid__tab.active .accordion-grid__tab__preview__inside--bg-image:before {
  opacity: 0.35;
}

.accordion-grid__tab__preview__inside--bg-image .accordion-grid__tab__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: normal;
}

.accordion-grid__tab__content {
  height: 0;
  width: 100%;
  position: absolute;
  left: 0;
  overflow: hidden;
  -webkit-transition: 400ms all ease;
  transition: 400ms all ease;
}

.accordion-grid__tab.active .accordion-grid__tab__content {
  height: auto;
}

.accordion-grid__tab__content__inside {
  background-color: #fff;
  padding: 1rem;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  margin: 2rem 1rem 4px;
  border-top: 2px solid #839750;
  border-radius: 4px;
}

.accordion-grid__tab__icon {
  margin-bottom: 1rem;
  font-size: 4rem;
  line-height: 1;
}

.accordion-grid__tab__title {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1;
}
